<mat-card class="post postBox">
  <a className='postBoxReference' [routerLink]="['/detailpost' , post.id]">
  <mat-card-title>
    {{ post.name }}
  </mat-card-title>
  <mat-card-content class="post-description-content">
    <p>{{ post.description | truncate : 140 }}</p>
  </mat-card-content>
  </a>
  <hr>
  <mat-card-actions class="card-actions row">
    <!--<p class="col m2 likes-quantity">12 me gusta</p>
    <span class="col s2 m2 l2 push-l8 push-m8 push-s8">
      <button  class="heart-button col m6" (click)="likeMe()">
        <mat-icon class="scout-purple">{{post.icon}}</mat-icon>
      </button>
    </span>-->
    <button mat-button color="primary" class="col s2 m2 l2 push-l10 push-m10 push-s10" (click)="addToSchedules()" >AÑADIR</button>
  </mat-card-actions>
</mat-card>
