<div class="login-component">
    <div class="row welcome-container">
      <h1>Bienvenido a Badenblog</h1>
      <h3>Inicia sesión</h3>
    </div>
    <div class="row">
      <section class="signin-container col xl8 l10 m10 s10 push-xl2 push-l1 push-m1 push-s1">
          <article class="social-login col l6 m12 s12" >
              <h3>Con tus redes sociales</h3>
                <app-facebook class="push-l1"></app-facebook>
          </article>
        <app-email></app-email>
        <article class="signup-link col s12">
            ¿Aún no tienes cuenta? <a routerLink="/registrarse"><strong>Regístrate aquí</strong></a>
        </article>
      </section>
    </div>
  </div>