<mat-toolbar color="primary">
        <span><a class="brand" routerLink="/">Badenblog</a></span>
            <span class="spacer"></span>
            <button mat-button class="col s12 m3" (click)="goToNewPost()"
                        type="submit" >Publicar actividad</button>
            <button mat-button class="userButton" [matMenuTriggerFor]="menu">
                <mat-icon >account_circle</mat-icon>
                <span>{{authService.currentUserDisplayName}}</span>
            </button>
        <mat-menu #menu="matMenu">

        <button *ngIf="!authService.authenticated" mat-menu-item id="navbar-menu" (click)="goToSignIn()">
            <mat-icon>fingerprint</mat-icon>
            <span>Iniciar Sesión</span>
        </button>
         <button *ngIf="authService.authenticated" mat-menu-item id="navbar-menu" (click)="signOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
        <!--
        <button mat-menu-item disabled>
            <mat-icon>announcement</mat-icon>
            <span>Issues</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>-->
        </mat-menu>
</mat-toolbar>
