<div class="new-post row">
  <div class="col m10 s12 push-m1">
    <mat-card >
      <mat-card-content>
        <h2>Nueva actividad</h2>
        <form class="row">
          <div class="col m6">
            <mat-form-field class="full-width" >
              <input matInput placeholder="Título">
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Describe tu actividad" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col m6">
                <h5 class="title-form">Edades</h5>
                <section class="example-section">
                  <mat-checkbox class="example-margin col m3 s6" color="primary" [(ngModel)]="age1">7 - 10</mat-checkbox>
                  <mat-checkbox class="example-margin col m3 s6" color="primary" [(ngModel)]="age1">10 - 14</mat-checkbox>
                  <mat-checkbox class="example-margin col m3 s6" color="primary" [(ngModel)]="age1">15 - 17</mat-checkbox>
                  <mat-checkbox class="example-margin col m3 s6" color="primary" [(ngModel)]="age1">18+</mat-checkbox>
                </section>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="row button-position">
        <button mat-raised-button class="col push-m8  m2 s12">Regresar</button>
        <button mat-raised-button class="col push-m8 m2 s12" color="primary">Publicar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>