<div class="new-post row">
  <div class="col m10 s12 push-m1">
    <mat-card >
      <mat-card-content>
        <h2>Nueva actividad</h2>
        <form class="row">
          <div class="col m6">
            <mat-form-field class="full-width" >
              <input matInput placeholder="Título" [formControl]="titleFormControl">
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Describe tu actividad" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5" [formControl]="descriptionFormControl"></textarea>
            </mat-form-field>
            <h5 class="title-form fix-form-title">Categorías</h5>
            <section *ngFor="let cat of categories">
              <mat-checkbox class="example-margin col m4 s6" color="primary" 
                            name="cat.id" 
                            [(ngModel)]="cat.checked">
                            {{cat.name}}
              </mat-checkbox>
            </section>
          </div>
          <div class="col m6">
            <div class="row">
              <h5 class="title-form fix-form-title">Materiales</h5>
              <app-materialchips class="example-margin col s12" 
                                  (itemAddedEvent)='handleItemAddedEvent($event)' 
                                  (itemRemovedEvent)='handleItemRemovedEvent($event)' 
                                  [items]="items"></app-materialchips>      
            </div>
            <h5 class="title-form fix-form-title">Edad mínima</h5>
            <mat-slider
                class="col s12"
                [max]="18" [min]="7"
                [step]="4" [thumbLabel]="true"
                name="minAge" [(ngModel)]="newPost.minAge">
            </mat-slider>
   
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="row button-position">
        <button mat-raised-button class="col push-m8  m2 s12" (click)="goBackFeed()">Regresar</button>
        <button mat-raised-button class="col push-m8 m2 s12" color="primary" (click)=publishPost()>Publicar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>