<div class="new-post row">
  <div class="col m10 s12 push-m1">
    <mat-card >
      <mat-card-content>
        <h2>Nueva actividad</h2>
        <form class="row">
          <div class="col m6">
            <mat-form-field class="full-width" >
              <input matInput placeholder="Título">
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Describe tu actividad" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <h5 class="title-form">Categorías</h5>
            <section class="row">
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age1" [(ngModel)]="age1">Círculo</mat-checkbox>
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age2" [(ngModel)]="age2">Grupos grandes</mat-checkbox>
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age3" [(ngModel)]="age3">Grupos pequeños</mat-checkbox>
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age4" [(ngModel)]="age4">Campamento</mat-checkbox>
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age4" [(ngModel)]="age4">Activo</mat-checkbox>
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age4" [(ngModel)]="age4">Creatividad</mat-checkbox>
              <mat-checkbox class="example-margin col m4 s6" color="primary" name="age4" [(ngModel)]="age4">Reflexivo</mat-checkbox>
            </section>
          </div>
          <div class="col m6">
            <div class="row">
              <h5 class="title-form">Materiales</h5>
              <app-materialchips class="example-margin col s12" [items]="items"></app-materialchips>      
            </div>
            <h5 class="title-form">Edades</h5>
            <section class="row">
              <mat-checkbox class="example-margin col m3 s6" color="primary" name="age1" [(ngModel)]="age1">7 - 10</mat-checkbox>
              <mat-checkbox class="example-margin col m3 s6" color="primary" name="age2" [(ngModel)]="age2">10 - 14</mat-checkbox>
              <mat-checkbox class="example-margin col m3 s6" color="primary" name="age3" [(ngModel)]="age3">15 - 17</mat-checkbox>
              <mat-checkbox class="example-margin col m3 s6" color="primary" name="age4" [(ngModel)]="age4">18+</mat-checkbox>
            </section>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="row button-position">
        <button mat-raised-button class="col push-m8  m2 s12">Regresar</button>
        <button mat-raised-button class="col push-m8 m2 s12" color="primary">Publicar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>