<div class="row">
  <mat-card class="schedulefeed col m6 s12 push-m3">
    <div class="row text-center">
      <button mat-button class="newschedulebutton col l1 col m1 col s1" (click)=goBackFeed()>Regresar</button>
      <button mat-button color="primary" class="newschedulebutton push-l1 push-m1 push-s1 col m8 s8">Nuevo Programa</button>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/detailpost' , 10]" > Programa del 7 de Agosto del 2018  </a>
      <a mat-list-item [routerLink]="['/detailpost' , 10]" > Programa del 14 de Agosto del 2018  </a>
      <a mat-list-item [routerLink]="['/detailpost' , 10]" > Programa del 21 de Agosto del 2018  </a>
      <a mat-list-item [routerLink]="['/detailpost' , 10]" > Programa del 28 de Agosto del 2018  </a>
    </mat-nav-list>
  </mat-card>
</div>