<div class="row">
  <mat-card class="schedulefeed col m6 s12 push-m3">
    <div class="row text-center">
      <button mat-button class="newschedulebutton col l1 col m1 col s1" (click)=goBackFeed()>Regresar</button>
      <button mat-button color="primary" class="newschedulebutton push-l1 push-m1 push-s1 col m8 s8">Nuevo Programa</button>
    </div>
    <mat-accordion *ngFor="let schedule of scheduleFeed">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="schedule-tittle">
          <mat-panel-title>
            {{ schedule.name? 'Programa sobre ' + schedule.name : 'Programa del ' + schedule.applicationDate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
          <div *ngFor="let p of schedule.posts">
            <h3 class="col m12 mb-0">
              <a [routerLink]="['/detailpost' , p.id]">{{p.name}}</a>
            </h3>
            <p class="col m12">
              {{p.description}}
            </p>
            <hr>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>