#fb {
    background:#3B5998;
}

#fb i{
    border-right: 2px solid white;
    padding: 10px 20px 10px 10px;
}

#fb span{
    padding-left: 30px;
}

.facebook-button{
    color:#fff;
    text-align: left;
    font-size: 16px;
    margin-top: 15px;
}


@media (max-width: 992px) {
    #fb span{
        padding-left: 110px;
    }
}

@media (max-width: 600px) {
    #fb span{
        font-size: 12px;
        padding-left:12%;
    }
}

@media (max-width: 350px) {
   #fb span{
    padding-left:0;
    font-size: 12px;
   }

}