body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
}

h1,h2,h3,h4,h5{
  color:#263238;
}

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align: center;
}

.alignRight{
  text-align: right;
}

.filterbox {
  padding: 16px;
  margin-bottom: 10px;
}


.filterbox  h2,h3,h4,h5{
  font-weight: 400;
  margin-bottom: 0px;
}

.filterbox  h2{
  margin-top: 5px;
}

.postBoxReference {
  text-decoration: none;
}

.postBox{
  margin-bottom:10px;
  border: 1px solid #eee;
}
.postBox:hover {
  border: 1px solid #BA68C8;
}

.newPostPanel{
  margin-top:10px;
}

.input-range{
  margin: 20px 2px;
}

.input-range__slider{
  background: #BA68C8;
  border: 1px solid #BA68C8;
}

.input-range__label{
  color: gray;
  font-size: 14px;
}

.input-range__track--active{
  background: #BA68C8;
}

.facebook-login-button{
  background: #3B5998;
  padding: 10px; 
  border: 1px solid #3B5998;
  width: 60%;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.facebook-login-button i {
  margin-right: 15px; 
  color: #fff;
}

.dialog-close-icon{
  float:right;
  top: -15px;
}

.dialog-close-icon svg{
  color: #9E9E9E !important;
}