@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/css/flexbox.css';

body{
    margin:0px;
    background: #fafafa;
    color:#1c3643;
    text-rendering: optimizeLegibility;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

a{
    text-decoration: none;
}

ul{
     list-style-type: none;
     padding: 0px;
}

hr {
    max-width: 100rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    clear: both; 
}

.spacer {
    flex: 1 1 auto;
}

#page-padding {
    padding: 0 1.5em 1.5em 1.5em;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:#3B8598;
}
#goback span {
    font-size:1em;
}

.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

.full-width{
    width: 100%;
}

.title-form{
    color:rgba(0, 0, 0, 0.54);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
